# Version control
.git
.gitignore

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Environments
.venv/
venv/
.env
.env.*

# OS / editors
.DS_Store
.idea/
.vscode/

# Project artifacts
runs/
tests/
*.log
*.tmp
build/
dist/
.coverage
.pytest_cache/
.mypy_cache/
.sourcery/
