/api_key.py
/testing/data
/testing
/data
/.DS_Store
__pycache__/
*.pyc
.DS_Store
.files
.test_files
/__MACOSX/
__pycache__
/bpm_venv/
/.venv/
.idea
.vscode
/testing/data(old)/
/testing/extra/
/test_data/
/src/test/e2e/test_data/
/tests/e2e/test_data/
/tests/ocr/input/
.env